.container {
    border: 3px solid red;
    display:flex;
    justify-content: space-around;
    align-items: center ;
}
.Menu-items{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}
.Menu-items li {
    list-style: none;
}
